<div class="row">
    <div class="col-md-12">
        <h1>Employees</h1>
    </div>
</div>
<div>
    <div class="col-md-6">
        {{@employeeAgeGender}}
    </div>
    <div class="col-md-6">

    </div>
</div>
