@import "flatly/variables.less";
@import "flatly/template.less";

body {
    padding-top:70px;
    padding-bottom:100px;
}


.well .well {
    background: darken(@well-bg, 7%);
    padding-top: 5px;
    padding-bottom: 5px;
    
    input {
        background: darken(#fff, 2%);
    }
}

.btn-gray {
    background-color: darken(@well-bg, 7%);
    border-color: darken(@well-bg, 10%);
}

.btn-select {
    .btn-primary;
}
