<div class="row">
    <div class="col-md-8">
        <h1>Dashboard</h1>
        {{@departmentEmployeesTable}}
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3 style="margin-top:0px;">Top Managers</h3>
            {{@topManagers}}
        </div>
    </div>
</div>
