<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{@PAGE.title}}</title>
        <link rel="stylesheet" href="/lib/code.css" type="text/css" />
        <link rel="stylesheet" href="/ui/css/flatly/template.css" type="text/css" />
        <link rel="stylesheet" href="/ui/css/overrides.css" type="text/css" />
        <link rel="stylesheet" href="/ui/css/font-awesome.css" type="text/css" />
        <link rel="stylesheet" href="/ui/css/bootstrap-select.css" type="text/css" />
        <script src="/ui/js/jquery.js" type="text/javascript"></script>
        <script src="/ui/js/bootstrap.js" type="text/javascript"></script>
        <script src="/ui/js/validator.js" type="text/javascript"></script>
        <script src="/ui/js/bootstrap-select.js" type="text/javascript"></script>
    </head>

    <body class="body">
        <div class="container-fluid" id="system_nav">
            <include href="/ui/main_menu.htm"/>
        </div>
    <check if="isset(@SESSION.messages) && !empty(@SESSION.messages)">
        <div class="container-fluid" id="system_messages">
            <include href="/ui/messages.htm"/>
        </div>
    </check>
    <check if="isset(@PAGE.template)" && !empty(@PAGE.template)">
           <div id="page_content" class="container-fluid">
            <include href="{{@PAGE.template}}"></include>
        </div>
    </check>
</body>

</html>
