<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-flui">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brick In The Wall Inc.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/departments">Departments</a>
                </li>
                <li>
                    <a href="/employees">Employees</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>