<div class="row">
    <div class="messages">
        <repeat group="{{ @SESSION.messages }}" key="{{@type}}" value="{{ @message_group }}">
            <div class="alert {{ 'alert-'.@type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <repeat group="{{ @message_group }}" key="{{@heading}}" value="{{ @messages }}">
                    <div class="row">
                        <div class="col-sm-2"><strong>{{@heading | raw}}</strong></div>
                        <div class="col-sm-8">
                            <repeat group="{{ @messages }}" value="{{ @message }}">
                                <p>{{@message | raw}}</p>
                            </repeat>
                        </div>
                    </div>
                </repeat>
            </div>
        </repeat>
    </div>
</div>
